.OverviewCardWrapper {
    padding: 20px 24px;
    width: 100%;
    background: white;
    box-shadow: 0 0 0.5rem rgba(104, 103, 103, 0.2);
    border-radius: 15px;
    display: flex;

    align-items: center;
    justify-content: space-between;
    transition: 0.25s ease;
}

.OverviewCardWrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 0.5rem rgba(104, 103, 103, 0.4);
}

.OverviewCardIconWrapper {
    background: red;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    /* margin-right: 5px; */
}

.OverviewCardDetails {
    display: flex;
    flex-direction: column;
}

.OverviewCardAmount {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1em;
    /* color: red; */
}

.OverviewCardTitle {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1em;
    color: #828486;
    margin-bottom: 8px;
}

@media screen and (max-width :700px) {

    .OverviewCardWrapper {

        width: 85%;

    }
}