.solution {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* border: 1px solid red; */
    gap: 20px;
    padding: 7rem 1rem 7rem 1rem;
    width: 100%;
    max-width: 900px;
}

.solutionWrapper {

    display: flex;
    justify-content: center;
    align-items: center;
}

.solutionText {
    display: flex;
    justify-content: center;
    flex-direction: column;


}


.solutionText h2 {
    font-size: 2.25rem;
    white-space: pre-line;
    font-weight: 700;
    text-transform: uppercase;
}

.solutionText p {
    font-size: 1.25rem;
    white-space: pre-line;

}

.solutionImg {
    max-width: 352px;
}

.solutionImgDiv {
    position: relative;
}


.feesImage {
    position: absolute;
    width: 100px;
    left: 0;
    top: 70px;
    transition: transform 0.5s;
}

.solutionImgDiv:hover .feesImage {
    transform: translate(0, -20px);
}



@media screen and (max-width :700px) {
    .solution {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-top: 20px;
    }

    .solutionText {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;

    }

    .solutionImgDiv {
        margin: 0;
        width: 100%;
        position: relative;
    }

    .solutionImg {
        max-width: 100%;
    }

}