.solution {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 7rem 1rem 7rem 1rem;
}

.solutionText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 250px;

}


.solutionText h2 {
    font-size: 2.25rem;
    line-height: 1.2;
    white-space: pre-line;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.035rem;
}

.solutionText p {
    font-size: 1.25rem;
    white-space: pre-line;
    letter-spacing: -.035rem;
}

.solutionImg {
    max-width: 352px;

    /* height: 200px; */
}

.solutionImgDiv {
    margin-right: 250px;
    position: relative;
}


.feesImage {
    position: absolute;
    width: 100px;
    left: 0;
    top: 70px;
    transition: transform 0.5s;
}

.solutionImgDiv:hover .feesImage {
    transform: translate(0, -20px);
}

@media screen and (max-width :1000px) {
    .solutionText {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px;

    }

    .solutionImgDiv {
        margin-right: 30px;
        position: relative;
    }

}

@media screen and (max-width :1240px) {
    .solutionText {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 150px;

    }

    .solutionImgDiv {
        margin-right: 150px;
        position: relative;
    }

}

@media screen and (max-width :700px) {
    .solution {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-top: 20px;
    }

    .solutionText {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;

    }

    .solutionImgDiv {
        margin: 0;
        width: 100%;
        position: relative;
    }

    .solutionImg {
        max-width: 100%;
    }

}