.resetPasswordContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.resetPassword {
    height: 100vh
}

.resetPasswordText {
    overflow: hidden;
    width: 50%;
    height: 100vh;
    position: relative;
    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.75);
    background-color: #111111;
    box-sizing: border-box;
    padding: 0 10px 10px 30px;
    align-items: center;
    justify-content: center;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.authBackIconWrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.authBackIcon {
    color: white;

}

.authBackIcon:hover {
    color: #FFEB6B;
}

.resetPasswordHeaderText {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.resetPassworddetails h1 {
    line-height: .85;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    margin-top: 200px;
    padding: 0;
}


.resetPassworddetails p {
    /* line-height: .85; */
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    padding: 0;
}


.resetPasswordImage {
    width: 70%;
    position: absolute;
    top: 10px;
}



.resetpasswordImage2 {
    width: 20%;
    transform: rotate(-30deg);
    position: absolute;
    bottom: 0;
    right: 0;
}

.resetPasswordHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    justify-content: center;
}


.resetPasswordList {
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.resetPasswordInput {
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}

.resetPasswordInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.resetPasswordrowInput {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 15px 10px 10px 0;
}

.columnInput {
    display: flex;
    flex-direction: column;
}

.resetPasswordinputGroup {
    width: 333px;
    height: 50px;
    font-size: 16px;
    padding: 0 10px 0 10px;
    border-radius: 16px;
    margin: 5px 0 0 0;
    border: 1px solid #686868;
}


.inputGroup:focus {
    outline: none;

}





.resetPasswordButtonWrapper {
    padding: 20px;
    margin: 10px 0 10px 0;
}

.resetPasswordButton {
    border: none;
    width: 333px;
    height: 50px;
    border: 1px solid ridge;
    border-radius: 10px;
    background-color: #111111;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetPasswordButton:hover {
    background-color: #1a1a1a;
}

.cursor {
    cursor: pointer;
}



@media screen and (max-width :700px) {
    .resetPasswordText {
        display: none;
    }

    .resetPasswordHeader {
        margin: 0 5px 10px 5px;
        text-align: center;
    }

    .OtpinputGroup {
        width: 300px;
    }

    .resetPasswordinputGroup {
        width: 300px;
    }

    .resetPasswordInput {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100vh;
    }
}